<% if bus_stops.present? then %>
  <div id="map" class="map"></div>
  <div class="clearfix">
    <%= link_to '中心周辺を検索', '#', class: 'btn btn-default pull-left', data: { 'search-map-center' => '' } %>
  </div>
  <script type="text/javascript">
var markersJson = <%= raw build_markers(bus_stops, params[:position]).to_json %>;
var polylinesJson = <%= raw bus_routes ? build_routes(bus_routes).to_json : false %>;
var busStopsCount = <%= bus_stops.size %>;
var centerMakerImagePath = <%= raw "'#{image_path('red_cross.png')}'" %>;
drawMap(markersJson, polylinesJson, busStopsCount, centerMakerImagePath);
  </script>
<% end %>
