<% cache params[:id] do %>
  <div class="row page-top-search-box">
    <div class="col-xs-12 col-sm-4">
      <%= render partial: 'bus_stop_search_form' %>
      <h1><%= @bus_route.line_name %></h1>
      <p>
      <%= "#{@bus_route.operation_company}" %><br />
      <%= "#{@bus_route.bus_type_label}" %>
      </p>
      <p>
      <span class="label label-default"><%= "平日 #{@bus_route.weekday_rate}" %></span>
      <span class="label label-primary"><%= "土曜 #{@bus_route.saturday_rate}" %></span>
      <span class="label label-danger"><%= "日祝 #{@bus_route.holiday_rate}" %></span>
      </p>
      <div class="list-group">
        <% @bus_route.bus_stops.each_with_index do |bus_stop, index| %>
          <a href="<%= bus_stop_path(bus_stop) %>" class="list-group-item">
            <div class="badge"><%= bus_stop.bus_routes.size %></div>
            <div class="list-number"><%= "#{index + 1}." %></div>
            <div class="list-content"><%= "#{bus_stop.name}" %></div>
          </a>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div id="map" class="map"></div>
      <script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: { draggable: false, scrollwheel: false, MinZoom:15 }, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw build_markers(@bus_route.bus_stops).to_json %>);
  polylines = handler.addPolylines(<%=raw build_routes_hash([@bus_route]).to_json %>, { strokeColor: '#00f', strokeOpacity: 0.5 });
  handler.bounds.extendWith(polylines);
  handler.fitMapToBounds();
});
      </script>
    </div>
  </div>
  <%= link_to 'ホーム', root_path, class: 'btn btn-default' %>
  <%= link_to '戻る', 'javascript:history.back()', class: 'btn btn-default' %>
<% end %>
