<div class="row page-top-search-box">
  <div class="col-sm-4">
    <%= form_tag bus_stops_path, :method => 'get' do %>
      <div class="input-group">
        <%= text_field_tag :q, params[:q], placeholder: 'バス停名を入力してください。', class: 'form-control' %>
        <span class="input-group-btn">
          <%= submit_tag "検索", name: nil, class: 'btn btn-primary' %>
        </span>
      </div>
    <% end %>
  </div>
</div>
<h1>検索結果</h1>
<ol class="find-result">
  <% @bus_stops.each do |bus_stop| %>
    <li><%= link_to bus_stop.name, bus_stop_path(bus_stop) %></li>
  <% end %>
</ol>
<% if @hash.present? then %>
  <div id="map" class="map"></div>
  <script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: { draggable: false, scrollwheel: false, MinZoom:15 }, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  if(<%= @hash.count %> === 1) {
    handler.getMap().setZoom(15);
  }
});
  </script>
<% end %>
<%= link_to 'ホーム', root_path, class: 'btn btn-default' %>
<%= link_to '戻る', 'javascript:history.back()', class: 'btn btn-default' %>
