<% cache params[:q].to_s + params[:position].to_s do %>
  <div class="row page-top-search-box">
    <div class="col-sm-4">
      <%= render partial: 'bus_stop_search_form' %>
      <h1>検索結果</h1>
      <div class="list-group">
        <% @bus_stops.each_with_index do |bus_stop, index| %>
          <a href="<%=bus_stop_path(bus_stop) %>" class="list-group-item">
            <div class="list-number"><%= "#{index + 1}." %></div>
            <div class="list-content"><%= "#{bus_stop.name}" %></div>
          </a>
        <% end %>
      </div>
    </div>
    <div class="col-sm-8">
      <% if @bus_stops.present? then %>
        <div id="map" class="map"></div>
        <script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: { draggable: <%= (!request.from_smartphone?).to_s %>, scrollwheel: false, MinZoom:15 }, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw build_markers(@bus_stops, params[:position]).to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  if(<%= @bus_stops.count(:all) %> === 1) {
    handler.getMap().setZoom(15);
  }
});
        </script>
      <% end %>
    </div>
  </div>
  <%= link_to 'ホーム', root_path, class: 'btn btn-default' %>
  <%= link_to '戻る', 'javascript:history.back()', class: 'btn btn-default' %>
<% end %>
