<% cache params[:id] do %>
  <% provide :title, @bus_stop.name + '｜' %>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <%= render partial: 'map', locals: { bus_stops: [@bus_stop], bus_routes: @bus_stop.bus_routes } %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <h3><%= @bus_stop.name %></h3>
      <p><%= link_to @bus_stop.address + '付近', "http://maps.google.co.jp/maps?q=#{@bus_stop.latitude},#{@bus_stop.longitude}" %></p>
      <div class="list-window">
        <div class="list-group">
          <% @bus_stop.bus_routes.each_with_index do |bus_route, index| %>
            <a href="<%= bus_route_path(bus_route) %>" class="list-group-item" data-bus-route-link="<%= bus_route.id %>">
              <div class="badge"><%= bus_route.bus_stops.size %></div>
              <div class="list-number"><%= "#{index + 1}." %></div>
              <div class="list-content"><%= "#{bus_route.operation_company} #{bus_route.line_name}" %></div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
