<h1><%= @bus_stop.name %></h1>
<p><%= link_to @bus_stop.address + '付近', "http://maps.google.co.jp/maps?q=#{@bus_stop.latitude},#{@bus_stop.longitude}" %></p>
<ol>
  <% @bus_stop.bus_route_infos.each do |info| %>
    <li><%= link_to "#{info.operation_company} #{info.line_name} #{info.bus_type_label}", bus_route_info_path(info) %></li>
  <% end %>
</ol>
<div id="map" class="map"></div>
<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: { draggable: false, scrollwheel: false }, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  polylines = handler.addPolylines(<%=raw @tracks.to_json %>, { strokeColor: '#00f', strokeOpacity: 0.5 });
  handler.bounds.extendWith(polylines);
  handler.fitMapToBounds();
});
</script>
<%= link_to 'ホーム', root_path, class: 'btn btn-default' %>
<%= link_to '戻る', 'javascript:history.back()', class: 'btn btn-default' %>
